<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<bean id="sub1" class="pojo_classes.Subject">
	<constructor-arg value="physics"></constructor-arg>
	
	</bean>
	
	<bean id="sub2" class="pojo_classes.Subject">
	<constructor-arg value="Chemistry"></constructor-arg>
	
	</bean>
	<bean id="sub3" class="pojo_classes.Subject">
	<constructor-arg value="Maths"></constructor-arg>
	
	</bean>
	<bean id="student" class="pojo_classes.Student">
	<constructor-arg  >
	
	<list>
	<ref bean="sub1"/>
	<ref bean="sub2"/>
	<ref bean="sub3"/>
	</list>
	</constructor-arg>
	
	</bean>
	
</beans>